@use "sass:math";
@import "../../../shared/styles/mixins";


.activeItemLabel{
	display: flex;

	padding: rem(1) rem(4);

	font-size: rem(13);

	background-color: rgb(217 217 217);
	border-radius: 3px;

	p{
		cursor: pointer;
		display: flex;
		align-items: center;
	}
}